html {
    margin: 20px;
    padding: 40px;
}

nav ul {
	list-style-thing: none;
	margin: 25px;
	padding: 0;
}

nav ul li {
	float: inline;
}

nav ul li a {
	display: block;
	padding: 8px;
	background-color: #dddddd
	text-decoration: none;
}

nav ul li a:hover {
	background-color: purple;
	color: white
}